# Introduction

This notebook serves as an introduction to basic R terminology, data structures and commands. The functions introduced will be analogous to those in Berkeley's `datascience` module, with examples provided for each.

## 1. Basics

R is a command line driven program. This means that the user can enter expressions, create variables and define functions and run them in the R console. In the Jupyter notebook interface, code chunks can be run as individual cells either by clicking on 'Run' in the toolbar above or using the shortcut keys `shift + enter`
<br>

### 1.1 Arithmetic and Logical Operators

Here are the basic arithmetic operations in Python:
<br>
```python
import math
import numpy as np

print(2 + 3) # add numbers
print(3**4) # powers
print(pow(3, 4)) # powers
print(math.sqrt(4**4)) # functions
print(21 % 5) # 21 mod 5
print(math.log(10)) # take log
print(math.exp(2)) # exponential
print(np.abs(-2)) # absolute value
print(2*math.pi) # mathematical constant

# scientific notation
print(5000000000 * 1000)
print(5e9 * 1e3)
```
In Python, we need to import `numpy` and `math` for certain mathematical operations. In R, however, these capabilities are built-in and no imports are required.
<br>
<br>
Running the following cells will demostrate some basic operations performed in R.

In [30]:
# adding two numbers
2 + 3

[1] 5

In [31]:
# raising to a power
3 ^ 4

[1] 81

In [32]:
# square roots
sqrt(4 ^ 4)

[1] 16

In [33]:
# 21 mod 5
21 %% 5

[1] 1

In [34]:
# taking the log
log(10)

[1] 2.302585

In [35]:
# exponential
exp(2)

[1] 7.389056

In [36]:
# using mathematical constants
2 * pi

[1] 6.283185

In [37]:
# absolute value
abs(-2)

[1] 2

In [38]:
# scientific notation
5e9 * 1e3

[1] 5e+12

Now, recall the logical operations in Python:
```python
print((1 > 0) and (3 <= 5))
print((1 < 0) or (3 > 5))
print((3 == 9/3) or (2 < 1) )
print(not(2 != 4/3))
```
<br>
In R, the logical operators are <, <=, >, >=, == for exact equality and != for inequality. 
<br>
`and`, `or`, `not` is replaced by `&`, `|`, `!`. 
<br>
The boolean values True/False in Python correspond to TRUE/FALSE in R (Notice the case difference). 
<br><br>
Run the cells below to see how logical operators work in R.

In [39]:
(1 > 0) & (3 <= 5)

[1] TRUE

In [40]:
(1 < 0) | (3 > 5)

[1] FALSE

In [41]:
(3 == 9/3) | (2 < 1)

[1] TRUE

In [42]:
!(2 != 4/3)

[1] FALSE

### 1.2 Assigning variables

In R, the assignment operator is `<-`. In most (not all) contexts, the `=` operator can be used as an alternative. It is recommended to use `<-` as standard usage to avoid mistakes.

Variables names in R are case sensitive, which means `A` and `a` are different symbols and would refer to different variables.

In [44]:
# Run this cell
val <- 3
print(val) # Same usage of print function as in Python 3

Val <- 7 # case-sensitive!
print(Val)

[1] 3
[1] 7